@charset "UTF-8";
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Убираем оформление textarea */
textarea {
  resize: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.toning--on {
  position: fixed;
  z-index: 49;
  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.toning--off {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  font-family: Montserrat;
  font-weight: 400;
}

.container {
  max-width: 1768px;
  min-width: 320px;
  width: 100%;
  padding: 0 76px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 76px;
}
@media (max-width: 1000px) {
  .container--header {
    display: block;
  }
}
@media (max-width: 767px) {
  .container--header {
    padding: 23px 30px;
  }
}
.container--main {
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #f4f4f4;
}
.header__logo {
  margin-right: 489px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.header__nav {
  margin-right: 266px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__item {
  margin: 0 36px;
}
@media (max-width: 767px) {
  .header__item {
    margin-left: 0;
  }
}
@media (max-width: 1000px) {
  .header__item {
    margin: 0;
  }
}
.header__item:first-child {
  margin-left: 0;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #292929;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.header__text {
  color: #808080;
  font-size: 14px;
  line-height: 18px;
}
.header__text--tel {
  color: #292929;
  font-size: 14px;
  line-height: 18px;
  margin-right: 24px;
}
.header__button {
  z-index: 2;
  position: fixed;
  right: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: none;
  background-color: #000000;
}
.header__button--white {
  background-color: #fff;
}
.header__button span {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 24px;
  height: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button span:before, .header__button span:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 24px;
  height: 1px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__button span:before {
  top: 6px;
}
.header__button span:after {
  bottom: 6px;
}

.main__new-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.new-product {
  padding-top: 73px;
  padding-bottom: 240px;
}
.new-product__product-cart {
  border: 1px solid #ededed;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 940px) {
  .new-product__product-cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.new-product__presentation {
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid #ededed;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
@media (max-width: 940px) {
  .new-product__presentation {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    min-width: 100%;
  }
}

.product-cart {
  position: relative;
}
.product-cart__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.product-cart__availability-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 55px;
}
.product-cart__video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}
.product-cart__new-box {
  width: 96px;
  border: 1px solid #ededed;
  border-top: none;
  border-left: none;
}
.product-cart__text--video-about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 44%;
          flex: 0 1 44%;
  border-top: 1px solid #f4f4f4;
  margin-left: auto;
  padding-top: 16px;
}
@media (max-width: 1149px) {
  .product-cart__text--video-about {
    border-top: none;
  }
}
@media (max-width: 867px) {
  .product-cart__text--video-about {
    margin-left: 0;
  }
}
.product-cart__text--product-description {
  position: relative;
  margin-bottom: 34px;
}
.product-cart__text--product-description::before {
  position: absolute;
  top: -14px;
  content: "";
  background-color: #ededed;
  position: absolute;
  width: 100%;
  height: 1px;
}
.product-cart__text--new {
  text-align: center;
  color: #fa0f4b;
  line-height: 18px;
  font-size: 14px;
  padding: 10px 0 13px 0;
}
.product-cart__button-like {
  position: absolute;
  top: 26px;
  right: 32px;
  width: 19px;
  height: 17px;
  border: none;
  background-image: url("../img/icons/like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}
.product-cart__container {
  padding: 27px 56px 32px 56px;
}
.product-cart__type {
  margin-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  color: #808080;
  font-weight: 400;
  text-transform: uppercase;
}
.product-cart__title {
  margin-bottom: 21px;
  color: #292929;
  line-height: 46px;
  font-size: 36px;
  font-weight: 400;
}
.product-cart__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #f4f4f4;
}
@media (max-width: 1236px) {
  .product-cart__price {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.product-cart__quantity {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  background-color: #ededed;
}
@media (max-width: 1236px) {
  .product-cart__quantity {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
.product-cart__button-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
@media (max-width: 1236px) {
  .product-cart__button-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.article {
  margin-right: 38px;
}
.article__value {
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.article__value:active, .article__value:hover, .article__value:focus {
  outline: 0;
  outline-offset: 0;
}

.text {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.availability__parameter {
  margin-right: 5px;
}
.availability__value {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.video-container {
  position: relative;
  max-width: 335px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.video-container__button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 95px;
  height: 45px;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  cursor: pointer;
}
.video-container__button span {
  position: relative;
}
.video-container__button span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background-image: url("../img/icons/play-button.svg");
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px 10px;
}
.price__text {
  color: #54402c;
}

.quantity {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 32px 10px;
}
.quantity__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.quantity__button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: transparent;
}
.quantity__value {
  text-align: center;
  border: none;
  color: #292929;
  font-size: 14px;
  font-weight: 500;
  line-height: 46px;
  background-color: transparent;
  width: 50px;
  height: 11px;
}
.quantity__button--minus {
  cursor: pointer;
  outline: 5px solid #6633cc;
  outline-offset: -5px;
}
.quantity__button--plus {
  cursor: pointer;
}

input[type=number] {
  width: 36px;
}

.button-box {
  padding: 10px 32px 10px 77px;
  cursor: pointer;
  background-color: #fff3e0;
  border: none;
}
@media (max-width: 1236px) {
  .button-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 64px;
    padding-right: 0;
  }
}
.button-box__text {
  position: relative;
  color: #292929;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.button-box__text:before {
  content: "";
  position: absolute;
  left: -32px;
  width: 16px;
  height: 19px;
  background-image: url("../img/icons/packet.svg");
}

.presentation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  padding: 0 33px;
}
@media (max-width: 767px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.presentation__foreshortening {
  margin-right: 265px;
}
@media (max-width: 1203px) {
  .presentation__foreshortening {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .presentation__product {
    margin: 0 auto 60px;
  }
}
@media (min-width: 768px) and (max-width: 940px) {
  .presentation__product {
    margin: 60px auto 60px;
  }
}
@media (min-width: 941px) and (max-width: 1204px) {
  .presentation__product {
    margin: 0 auto;
  }
}
.presentation__zoom-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .presentation__zoom-button {
    bottom: 12px;
    right: 12px;
  }
}
@media (max-width: 419px) {
  .presentation__zoom-button {
    display: none;
  }
}

.foreshortening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 77px;
  outline: none;
}
@media (max-width: 767px) {
  .foreshortening {
    display: block;
  }
}
.foreshortening__button {
  margin: 7px 0;
  background: transparent;
  border: none;
  width: 6px;
  height: 6px;
  cursor: pointer;
}
.foreshortening__button svg:hover path {
  fill: #292929;
}
.foreshortening__button svg:hover {
  width: 8px;
  height: 8px;
}
.foreshortening__button:focus {
  outline: none;
}
.foreshortening__button:active {
  outline: none;
}
.foreshortening__button:first-child {
  margin-top: 0;
}
.foreshortening__button:last-child {
  margin-bottom: 0;
}

.control {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.control__button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 96px;
  height: 44px;
}
.control__button:hover path {
  stroke: #f1b255;
}
.control__button--left {
  border-top: 1px solid #f4f4f4;
}
.control__button--right {
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
}

.modal {
  position: relative;
  padding: 50px;
}
@media (max-width: 767px) {
  .modal {
    padding: 30px;
  }
}
.modal__img {
  margin: 0 auto;
}
.modal--off {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}
.modal--on {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  width: 100%;
  height: 100%;
}

.modal__button {
  position: absolute;
  right: 50px;
  background-color: transparent;
  border: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__button div {
  cursor: pointer;
  position: relative;
  height: 68px;
  width: 50px;
}

.modal__button .leftright {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #292929;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal__button .rightleft {
  height: 4px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #292929;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.modal__button .close-btn {
  margin: 54px 0 0 -5px;
  position: absolute;
  color: #292929;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.modal__button div:hover .leftright {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #000;
}

.modal__button div:hover .rightleft {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
}

.modal__button div:hover .close-btn {
  opacity: 1;
}

/* base style */
.stepper {
  display: inline-block;
  max-width: 120px;
  position: relative;
}

.stepper__input {
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  border: none;
  -moz-appearance: textfield;
}

.stepper__input:focus {
  color: #333;
  background-color: #fff;
  border-color: #c4c4c4;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.stepper__input::-webkit-inner-spin-button,
.stepper__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.stepper__controls {
  outline: 5px solid #6633cc;
  outline-offset: -5px;
}

.stepper__controls [spinner-button=up],
.stepper__controls [spinner-button=down] {
  outline: 5px solid #6633cc;
  outline-offset: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  outline: none;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  height: 50%;
  font-size: 1.375em;
  line-height: 0;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

/* style 1 */
.stepper--style-1 .stepper__input {
  padding-right: 3.25rem;
}

.stepper--style-1 .stepper__controls {
  position: absolute;
  right: 0;
  top: 0;
  bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2.5rem;
  z-index: 1;
}

.stepper--style-1 [spinner-button=up] {
  margin-bottom: -1px;
}

/* style 2 */
.stepper--style-2 {
  max-width: 140px;
}

.stepper--style-2 .stepper__input {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  text-align: center;
}

.stepper--style-2 [spinner-button=up],
.stepper--style-2 [spinner-button=down] {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: -1px;
  width: 2.5rem;
  z-index: 1;
}

.stepper--style-2 [spinner-button=up] {
  right: 0;
  margin-left: -1px;
}

.stepper--style-2 [spinner-button=down] {
  left: 0;
  margin-right: -1px;
}

/* style 3*/
.stepper--style-3 {
  max-width: 140px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.stepper--style-3 .stepper__input {
  position: relative;
  z-index: 1;
  text-align: center;
}

.stepper--style-3 [spinner-button=up],
.stepper--style-3 [spinner-button=down] {
  border: 0;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: -1px;
  width: 2.5rem;
}

.stepper--style-3 [spinner-button=up] {
  right: 0;
  margin-left: -1px;
}

.stepper--style-3 [spinner-button=down] {
  left: 0;
  margin-right: -1px;
}