@charset "UTF-8";
.toning--on {
  position: fixed;
  z-index: 49;
  background-color: #ffffff;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.toning--off {
  /* Позиционирование */
  position: absolute;
  clip: rect(0 0 0 0);
  /* Блочная модель */
  width: 1px;
  height: 1px;
  margin: -1px;
}